    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>What is CALL FOR MENTAL HEALTH?</h2>
                <h3>What? Are you going to do?</h3>
                <p>Together, we will do a socially distanced charity livestream including games, live music, entertainment and more with people from around the world.</p>
                <h3>Why? Are you doing this?</h3>
                <p>2020 has been the year that was only focused on some human malware attacking the whole world by storm. However, being home alone – all by yourself – can have really bad effects on your mental health. Not many people have focused on supporting helplines and organizations, even though they are more needed than ever. That’s why we want to change that.</p>
                <h3>Who? Is doing what?</h3>
                <p>The stream will be hosted by a couple of people from all over the world. Including musicians, gamers and more alongside some moderators that lead through the stream and take care of donation announcements and the chat.</p>
                <h3>Who? Are you going to donate to?</h3>
                <p>The donations of this event are going to the following organization:
                <ul>
                  <li>TBA</li>
                </ul>
                </p>
                <h3>When? Is it going to happen?</h3>
                <p>Estimated stream date is sometime in the end of December of 2020 or early January of 2021</p>
                <h3>How? Are you going to do it?</h3>
                <p>Every participant will stream to a central server during the event, the stream is then going to be mixed and cut before the final stream goes live on twitch.tv this way, we can ensure that we switch between views smoothly matching the context. This has the downside of a delay which can also be seen as a benefit if something goes wrong unexpectedly.</p>
                <h3>Where? Can I find it?</h3>
                <p>The Event will be live primarily on twitch.tv, it will be hosted by participating streamers to expand the viewer base. A restream to youtube.com is possible but not finally discussed.</p>

            </div>
        </div>
    </section>
